/**
 *   Buttons
 * 
 * +Delete - MEDIUM
 * +Change Settings - MEDIUM
 * +Info - LARGE
 * +Take Part - LARGE
 * +Leave - LARGE
 * +Login - MEDIUM
 * +More Info - MEDIUM
 * +Delete Profile - MEDIUM
 * +Upload - MEDIUM
 * +Change - LARGE
 * +IsFrontpage - LARGE
 * +IsNotFrontpage - LARGE
 * +Protest Delete - MEDIUM
 * +Protest Edit - MEDIUM
 * +Delete-YES - LARGE
 * +Delete-NO - LARGE
 * +Upload - SMALL
 * +radioButtonSet
 */

.button, .button_, #edit-submit, submit, #edit-save-and-go {
  background-image: url("/sites/all/themes/demopoly/img/Buttons.Ekki.png")!important;
  background-repeat: no-repeat;
  display: block;
  height: 0px;
  width: 0px;
  overflow: hidden;
}

.button_ {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}


.button.large {
  padding-top: 48px;
}

.button.medium {
  padding-top: 38px;
}

.button.small {
  padding-top: 28px;
}

.button.radio {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
}

/* DEFAULT */
#edit-submit, submit {
  border: none;
  box-shadow:none;
  cursor:pointer;
  font-size:0px;
  float: right;
  
  padding-top: 37px;
  background-position: -701px -103px;
  width: 92px;
}

#edit-submit:hover {
  background-position: -701px -142px;
}

/* DELETE */
.button.medium.delete {
  background-position: -343px -104px;
  width: 173px;
}
.button.medium.delete:hover {
  background-position: -343px -143px;
}

/* CHANGE SETTINGS */
.button.medium.change-settings {
  background-position: -211px -187px;
  width: 198px;
}
.button.medium.change-settings:hover {
  background-position: -211px -226px;
}

/* INFO */
.button.large.info {
  background-position: -1px 0px;
  width: 183px;
}
.button.large.info:hover {
  background-position: -1px -49px;
}

/* TAKE PART */
.button.large.take-part {
  background-position: -190px 0px;
  width: 158px;
}

.button.large.take-part:hover {
  background-position: -190px -49px;
}

/* LEAVE */
.button.large.leave {
  background-position: -357px 0px;
  width: 124px;
}

.button.large.leave:hover {
  background-position: -357px -49px;
}

/* LOGIN */
.button.medium.login {
  background-position: -1px -104px;
  width: 112px;
}
.button.medium.login:hover {
  background-position: -1px -143px;
}

/* MORE INFO */
.button.medium.more-info {
  background-position: -122px -104px;
  width: 211px;
}

.button.medium.more-info:hover {
  background-position: -122px -143px;
}

/* DELETE PROFILE */
.button.medium.delete-profile {
  background-position: -343px -104px;
  width: 173px;
}

.button.medium.delete-profile:hover {
  background-position: -343px -143px;
}

/* UPLOAD MEDIUM */
.button.medium.upload {
  background-position: -490px -1px;
  width: 201px;
}

.button.medium.upload:hover {
  background-position: -490px -40px;
}

/* CHANGE */
.button.large.change {
  background-position: -246px -270px;
  width: 226px;
}

.button.large.change:hover {
  background-position: -246px -317px;
}

/* IS FRONTPAGE no-hover */
.button.medium.is-frontpage {
  background-position: -481px -271px;
  width: 200px;
}

/* IS NOT FRONTPAGE */
.button.medium.is-not-frontpage {  
  background-position: -481px -310px;
  width: 200px;
}
.button.medium.is-not-frontpage:hover {  
  background-position: -481px -271px;
}

/* PROTEST EDIT */
.button.medium.protest-edit {  
  background-position: -211px -187px;
  width: 198px;
}
.button.medium.protest-edit:hover {
  background-position: -211px -226px;
}
/* PROTEST DELETE */
.button.medium.protest-delete {  
  background-position: -688px -187px;
  width: 198px;
}
.button.medium.protest-delete:hover {
  background-position: -688px -226px;
}

/* DOWNLOAD IMAGE */
.button_.download-image {
  background-position: -398px -385px;
  width: 23px;
  height: 23px;
}
.button_.download-image:hover {
  background-position: -398px -385px;
}

/* REPORT IMAGE */
.button_.report-image {  
  background-position: -369px -385px;
  width: 23px;
  height: 23px;
}
.button_.report-image:hover {
  background-position: -369px -385px;
}

/* NO */
.button.medium.delete-no {
  background-position: -755px -270px;
  width: 61px;
  display: inline-block
}

.button.medium.delete-no:hover {
  background-position: -755px -310px;
}

/* YES */
.button.medium.delete-yes {
  background-position: -688px -270px;
  width: 61px;
  display: inline-block
}

.button.medium.delete-yes:hover {
  background-position: -688px -310px;
}

/* UPLOAD SMALL */
.button.medium.upload-one {
  background-position: -1px -187px;
  width: 201px;
  position: relative;
  bottom: 10px;
}

.button.medium.upload-one:hover {
  background-position: -1px -226px;
}

/* CHOOSE A FILE TO UPLOAD */
.button.medium.choose-upload {
  background-position: -418px -187px;
  width: 261px;
}

.button.medium.choose-upload:hover {
  background-position: -418px -226px;
}

/* RADIO BUTTON SET */
.button.radio.is-set{
  background-position: -1px -389px;
}
/* RADIO BUTTON NOT SET */
.button.radio.not-set{
  background-position: -23px -389px;
}

/* SAVE AND UPLOAD *** */
#edit-save-and-go {
  cursor: pointer;
  background-position: -482px -352px!important;
  width: 246px!important;
  padding-top: 36px;
}