/**
 *   Standard Forms
 * 
 * +Textfield
 * +Password
 * 
 */


.form-type-textfield, .form-type-password {
  float:left;
}
input, textarea {
  background: -webkit-gradient(linear, left bottom, left top, from(#e0e0e0), to(#ffffff));
  background: -moz-linear-gradient(bottom, #e0e0e0, #ffffff);
  margin: 3px 5px 3px 0px;
  padding: 3px 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 0px solid #717171;
  -webkit-box-shadow: 1px 1px 0px #efefef;
  -moz-box-shadow: 1px 1px 0px #efefef;
  box-shadow: 1px 1px 0px #efefef;
  font-size: 1.2em;
  color: #787878;
  letter-spacing: -0.02em;
  text-shadow: 0px 1px 0px #fff;
  outline: none;
}
input:focus {
  -webkit-box-shadow: 0px 0px 5px #76b828;
  -moz-box-shadow: 0px 0px 5px #76b828;
  box-shadow: 0px 0px 5px #76b828;
}