/**
 *   Standard Forms
 * 
 * +Textfield
 * +Password
 * 
 */

fieldset {
  border:none;
  position: relative;
}

fieldset .fieldset-description {
  position: absolute;
  top: 0;
  right: 0;
}

input, textarea {
  background: -webkit-gradient(linear, left bottom, left top, from(#e0e0e0), to(#ffffff));
  background: -moz-linear-gradient(bottom, #e0e0e0, #ffffff);
  margin: 3px 5px 3px 0px;
  padding: 3px 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 0px solid #717171;
  -webkit-box-shadow: 1px 1px 0px #efefef;
  -moz-box-shadow: 1px 1px 0px #efefef;
  box-shadow: 1px 1px 0px #efefef;
  font-family: 'FuturaStd-Book';
  font-size: 1.2em;
  color: #787878;
  letter-spacing: -0.02em;
  text-shadow: 0px 1px 0px #fff;
  outline: none;
}

input:focus {
  -webkit-box-shadow: 0px 0px 5px #76b828;
  -moz-box-shadow: 0px 0px 5px #76b828;
  box-shadow: 0px 0px 5px #76b828;
}

legend {
  border-bottom: 2px solid #e4e4e4;
  width: 100%;
  padding-bottom: 5px;
}

.fieldset-legend {
  color: #76B828;
  font-weight: bold;
  text-transform: lowercase;
}

label {
  font-family: 'FuturaStd-Book';
}

.show_info{
  background-image: url("../../img/take-part/infopfeil.png");
  background-repeat: no-repeat;
  background-position: 0px 7px;
  display: block;
  padding-left: 12px;
  position: absolute;
  top: 0px;
  right: 10px;
  color: #d4d4d4;
  text-transform: uppercase;
  font-family: "LubalinGraphITCbyBT-Medium";
}