.page-node-1 #content {
     width: 900px;
}

.howitfirst {
     background: none repeat scroll 0% 0% #EEEEEE;
     border-radius: 10px 10px 10px 10px;
     float: left;
     height: 250px;
     margin: 10px;
     padding: 40px 20px 40px 60px;
     width: 200px;
}

.howitfirst p {
     text-indent: -48px;
}

.howitfirst p:first-letter {
     background: none repeat scroll 0% 0% #FFFFFF;
     border-radius: 10px;
     color: #009EE5;
     font-family: "LubalinGraphITCbyBT-Medium";
     font-size: 1.6em;
     padding: 5px;
}

.howitsecond {
     background: none repeat scroll 0% 0% #EEEEEE;
     border-radius: 10px 10px 10px 10px;
     float: left;
     height: 250px;
     margin: 10px;
     padding: 40px 20px 40px 60px;
     width: 200px;
}

.howitsecond p {
     text-indent: -48px;
}

.howitsecond p:first-letter {
     background: none repeat scroll 0% 0% #FFFFFF;
     border-radius: 10px;
     color: #009EE5;
     font-family: "LubalinGraphITCbyBT-Medium";
     font-size: 1.6em;
     padding: 5px;
}

.howspacer {
     clear: left;
}
