
.settings {
     background: none repeat scroll 0% 0% #EEEEEE;
     border-radius: 10px 10px 10px 10px;
     float: left;
     height: 250px;
     margin: 10px;
     padding: 40px 20px 40px 60px;
     width: 200px;
}

.delete-profile {
     background: none repeat scroll 0% 0% #EEEEEE;
     border-radius: 10px 10px 10px 10px;
     float: left;
     height: 250px;
     margin: 10px;
     padding: 40px 20px 40px 60px;
     width: 200px;
}

.private {
     background: none repeat scroll 0% 0% #EEEEEE;
     border-radius: 10px 10px 10px 10px;
     float: left;
     height: 250px;
     margin: 10px;
     padding: 40px 20px 40px 60px;
     width: 200px;
}

.expressum {
     background: none repeat scroll 0% 0% #EEEEEE;
     border-radius: 10px 10px 10px 10px;
     float: left;
     height: 250px;
     margin: 10px;
     padding: 40px 20px 40px 60px;
     width: 200px;
}

.newsletter {
     background: none repeat scroll 0% 0% #EEEEEE;
     border-radius: 10px 10px 10px 10px;
     float: left;
     height: 250px;
     margin: 10px;
     padding: 40px 20px 40px 60px;
     width: 200px;
}

.changesetting {
     background: none repeat scroll 0% 0% #EEEEEE;
     border-radius: 10px 10px 10px 10px;
     float: left;
     height: 250px;
     margin: 10px;
     padding: 40px 20px 40px 60px;
     width: 200px;
}

.publicpicture {
     background: none repeat scroll 0% 0% #EEEEEE;
     border-radius: 10px 10px 10px 10px;
     float: left;
     height: 250px;
     margin: 10px;
     padding: 40px 20px 40px 60px;
     width: 200px;
}