/* Upload A Picture / Edit A Picture*/
.page-protest-add #wrapper, .page-protest-edit #wrapper {
	margin: 0px 25px 40px 25px;
}
.page-protest-add #content, .page-protest-edit #content{
	margin: 0;
}

.page-protest-add br.clear, .page-protest-edit br.clear {
	clear: both;
	margin: 0px;
	padding: 0px;
}
.page-protest-add fieldset, .page-protest-edit fieldset {
	width: 800px;
	display: block;
}

.page-protest-add legend span.fieldset-legend, .page-protest-edit legend span.fieldset-legend {
	font-family: "LubalinGraphITCbyBT-Medium";
    color: #76B828;
	font-weight: bold;
}

.page-protest-add div#name-city,
.page-protest-add div#date,
.page-protest-add div#context,
.page-protest-edit div#name-city,
.page-protest-edit div#date,
.page-protest-edit div#context {
	width: 800px;
	display: block;
}

.page-protest-add div#name-city div#edit-field-firstname, .page-protest-edit div#name-city div#edit-field-firstname {
	position: relative;
	left: 0px; top: 0px;
	float: left;
	width: 45%;
}
.page-protest-add div#name-city div#edit-field-city, .page-protest-edit div#name-city div#edit-field-city {
	position: relative;
	right: 0px; top: 0px;
	float: right;
	width: 45%;
}
.page-protest-add div#name-city div#edit-field-firstname input, .page-protest-add div#name-city div#edit-field-city input,
.page-protest-add div#name-city div#edit-field-firstname label, .page-protest-add div#name-city div#edit-field-city label,
.page-protest-edit div#name-city div#edit-field-firstname input, .page-protest-edit div#name-city div#edit-field-city input,
.page-protest-edit div#name-city div#edit-field-firstname label, .page-protest-edit div#name-city div#edit-field-city label
{
	width: 100%;
	text-transform: uppercase;
}

.page-protest-add div#date .form-type-date-select,
.page-protest-add div#date .form-type-date-select .date-padding,
.page-protest-edit div#date .form-type-date-select,
.page-protest-edit div#date .form-type-date-select .date-padding
{
	width: 100%;
}
.page-protest-add div#date .form-type-select, .page-protest-edit div#date .form-type-select{
	width: 32%;
	padding-right: 0px;
}

.page-protest-add div#date .form-type-select select, .page-protest-edit div#date .form-type-select select{
	width: 100%;
	font-size: 20px;
	text-transform: uppercase;
}
.page-protest-add div#date span.select, .page-protest-edit div#date span.select{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -10;
	display: block;
	
	padding: 0px 10px;
	width:85%;
	font-size: 15px;
	color: #787878;
	text-shadow: 0px 1px 0px #fff;
	outline: none;
	background: -webkit-gradient(linear, left bottom, left top, from(#e0e0e0), to(#ffffff));
	background: -moz-linear-gradient(bottom, #e0e0e0, #ffffff);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: 0px solid #717171;
	margin-right: 5px;
	-webkit-box-shadow: 1px 1px 0px #efefef;
	-moz-box-shadow: 1px 1px 0px #efefef;
	box-shadow: 1px 1px 0px #efefef;
	margin: 3px 5px 3px 0px;
}

.page-protest-add div#context label,
.page-protest-add div#download label,
.page-protest-add div#licence label,
.page-protest-add div#terms label,
.page-protest-add div#image label,
.page-protest-edit div#context label,
.page-protest-edit div#download label,
.page-protest-edit div#licence label,
.page-protest-edit div#terms label,
.page-protest-edit div#image label
{
	display: none;
}
.page-protest-add label.option, .page-protest-edit label.option
{
	display: inline!important;
}

.page-protest-add div#download #edit-field-download .form-type-radios, .page-protest-edit div#download #edit-field-download .form-type-radios{
	width: 100%;
}
.page-protest-add div#download #edit-field-download #edit-field-download-und .form-item-field-download-und,
.page-protest-edit div#download #edit-field-download #edit-field-download-und .form-item-field-download-und
{
	float: right;
	width: 45%;
}
.page-protest-add div#download #edit-field-download #edit-field-download-und .form-item-field-download-und:first-child,
.page-protest-edit div#download #edit-field-download #edit-field-download-und .form-item-field-download-und:first-child
{
	float: left;
	width: 45%;	
}

.page-protest-add div#context #field-protest-context-add-more-wrapper textarea,
.page-protest-edit div#context #field-protest-context-add-more-wrapper textarea
{
	border: 0px;
	/*border: 1px solid #e4e4e4;*/
}
.page-protest-add div#context #field-protest-context-add-more-wrapper div.description,
.page-protest-edit div#context #field-protest-context-add-more-wrapper div.description
{
	display: none;
}

/** jQuery selctBox() CSS **/
@CHARSET "UTF-8";
.sbHolder{
	background: -webkit-gradient(linear, left bottom, left top, from(#e0e0e0), to(#ffffff));
	background: -moz-linear-gradient(bottom, #e0e0e0, #ffffff);
	border: solid 1px #515151;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	height: 30px;
	position: relative;
	width: 200px;
	text-transform: uppercase;
}
.sbHolder:focus .sbSelector{
	
}
.sbSelector{
	display: block;
	height: 30px;
	left: 0;
	line-height: 30px;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-indent: 10px;
	top: 0;
	x
	width: 170px;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
	color: #000;
	outline: none;
	text-decoration: none;
}
.sbToggle{
	background: url(../img/select-icons.png) 0 -116px no-repeat;
	display: block;
	height: 30px;
	outline: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
}
.sbToggle:hover{
	background: url(../img/select-icons.png) 0 -167px no-repeat;
}
.sbToggleOpen{
	background: url(../img/select-icons.png) 0 -16px no-repeat;
}
.sbToggleOpen:hover{
	background: url(../img/select-icons.png) 0 -66px no-repeat;
}
.sbHolderDisabled{
	background-color: #3C3C3C;
	border: solid 1px #515151;
}
.sbHolderDisabled .sbHolder{
	
}
.sbHolderDisabled .sbToggle{
	
}
.sbOptions{
	background: -webkit-gradient(linear, left bottom, left top, from(#e0e0e0), to(#ffffff));
	background: -moz-linear-gradient(bottom, #e0e0e0, #ffffff);
	
	border: solid 1px #515151;
	list-style: none;
	left: -1px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 30px;
	width: 200px;
	z-index: 1;
	overflow-y: auto;
}
.sbOptions li{
	padding: 0 7px;
}
.sbOptions a{
	border-bottom: none;
	display: block;
	outline: none;
	padding: 7px 0 7px 3px;
}
.sbOptions a:link, .sbOptions a:visited{
	color: #000;
	text-decoration: none;
}
.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus{
	color: #EBB52D;
}
.sbOptions li.last a{
	border-bottom: none;
}
.sbOptions .sbDisabled{
	border-bottom: none;
	color: #000;
	display: block;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbGroup{
	border-bottom: none;
	color: #000;
	display: block;
	font-weight: bold;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbSub{
	padding-left: 17px;
}