@charset "UTF-8";
/* CSS Document */

/* Global */
#edit-timezone {
display:none;
}
html, body {
background-color:#ffffff;
color:black;
}
img {
border: 0 none;
}
* {
margin: 0;
padding: 0;
}
/* Allgemein */

.demopoly-green {
color:#76b828
}
.demopoly-blue {
color:#009ee2
}
/* Wrapper */

#wrapper {
margin: 60px 30px 40px 40px;
padding: 0;
position: relative;
width: 97%;
}
/* Logo */

#logo {
float: left;
}
/* Navi top right */

#navigation {
float: right;
}
#navigation ul li {
display: inline;
}
#navigation ul li a {
color: #000;
text-transform:uppercase;
text-decoration: none;
margin: 0 10px 0 0;
}
/* Second Navi left */

#information {
clear: both;
margin: 30px 0 0 0;
float: left;
}
#information ul li {
display: inline;
}
/* Claim */
#navigation ul {
	float:left;
}
#claim {
float: right;
margin: 45px 10px 0 0;
}
/* Content */
#image-container{
	display:none;
}
#content {
clear: both;
float: left;
margin: 40px 0px 0px 0px;

}
.front h1 { 
	display:none;
}
#image-container img {
	margin-right:8px;
}
#block-user-login {
position:absolute;
right:210px;
top:40px;
background:white;
z-index: 1000
}
.not-front #content {
width:831px;
}
/* Login Box */

#block-user-login {
	
    -webkit-box-shadow:  1px 1px 10px 1px #dfdfdf;        
    box-shadow:  1px 1px 10px 1px #dfdfdf;		
    -webkit-border-radius: 15px;    
    border-radius: 15px;
	padding: 20px;
	border: 1px solid #dfdfdf;
	display:none;
	border: 1px solid #dfdfdf
    
       }

#edit-submit {
	background-image: url("../img/loginbox/login-btn.png");
    border: none;
    float: right;
    height: 38px;
    width: 113px;
	box-shadow:none;
	cursor:pointer;
	}
	
#edit-submit:hover {
	background-image: url("../img/loginbox/login-btn-hover.png");
}
#user-login-form #edit-submit:hover {
	background-image: url("../img/loginbox/login-btn-hover.png");
}

#user-login-form ul li {
	list-style-image: url("../img/loginbox/listenpunkt.png");	
	float:left;
	padding-top: 15px;
}
	
#user-login-form ul li.last {
	display:none;
}

#edit-submit:hover {
	background-image: url("../img/loginbox/login-btn-hover.png");
	}
	
#edit-name #edit-pass{
	 border: 1px solid #DFDFDF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 5px 1px #DFDFDF;
    float: left;
    padding: 3px;
}
#user-login-form #edit-submit {
background-image: url("../img/loginbox/login-btn.png");
border: none;
float: right;
height: 38px;
width: 113px;
box-shadow:none;
cursor:pointer;
font-size:0px;
}
#user-login-form #edit-submit:hover {
background-image: url("../img/loginbox/login-btn-hover.png");
}

#user-login-form ul li {
list-style-image: url("../img/loginbox/listenpunkt.png");
float:left;
padding-top: 15px;
}

#user-login-form ul li.last {
display:none;
}

#user-login-form ul li a {
color: #000;
text-decoration:none;
}

#edit-name {
float:left;
}
.form-type-textfield {
float:left;
}
.form-type-password {
float:left;
}
input {
	padding: 3px 3px;
	font-size: 1.2em;
	color: #787878;
	letter-spacing: -0.02em;
	text-shadow: 0px 1px 0px #fff;
	outline: none;
	background: -webkit-gradient(linear, left bottom, left top, from(#e0e0e0), to(#ffffff));
	background: -moz-linear-gradient(bottom, #e0e0e0, #ffffff);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 0px solid #717171;
	margin-right: 5px;
	-webkit-box-shadow: 1px 1px 0px #efefef;
	-moz-box-shadow: 1px 1px 0px #efefef;
	box-shadow: 1px 1px 0px #efefef;
	margin: 3px 5px 3px 0px;
}
input:focus {
	-webkit-box-shadow: 0px 0px 5px #76b828;
	-moz-box-shadow: 0px 0px 5px #76b828;
	box-shadow: 0px 0px 5px #76b828;
}


