@charset "UTF-8";
/* CSS Document */

/* Global */

html, body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    background-color:#ffffff;
    color:black;
}

img {
    border: 0 none;
}

* {
    margin: 0;
    padding: 0;
}

/* Wrapper */

#wrapper {
    margin: 60px 30px 40px 40px;
    padding: 0;
    position: relative;
    width: 95%;
}

/* Logo */

#logo {
    float: left;
}

/* Navi top right */

#navigation {
    float: right;
}

#navigation ul li {
    display: inline;
}

#navigation ul li a {
    font-family: 'Josefin Sans', sans-serif;
    color: #000;
    text-transform:uppercase;
    text-decoration: none;
    margin: 0 10px 0 0;
}

/* Second Navi left */

#information {
    clear: both;
    margin: 30px 0 0 0;
    float: left;
}

#information ul li {
    display: inline;
}
    
/* Claim */
	
#claim {
    float: right;
    margin: 45px 10px 0 0;
    font-size: 20px;
    font-weight: 700;
}

/* Content */

#content {
    clear: both;
    float: left;
    margin: 40px 0 0 0;	
}


#block-user-login {
	position:absolute;
	right:210px;
	display:none;
	top:40px;
	background:white;
}
.not-front #content { 
	width:831px;
}