/*
 * Dynamic display block module template (Drupal 7): upright30p - Cascading Style Sheet 
 * (c) Copyright Phelsa Information Technology, 2011. All rights reserved.
 * Version 1.0 ( 21-JAN-2011 )
 * Licenced under GPL license
 * http://www.gnu.org/licenses/gpl.html
 */
div.ddblock-cycle-upright30p div.container{background-color:#fff;width:478px;}
div.ddblock-cycle-upright30p div.container-inner{height:367px;position:relative;}
div.ddblock-cycle-upright30p div.slider{float:left;width:478px;}
div.ddblock-cycle-upright30p div.slider-inner{background:transparent url(images/transparent_bg.png) repeat scroll 0 0!important;height:303px;overflow:hidden;position:relative;visibility:hidden;}
div.ddblock-cycle-upright30p div.slide{display:none;height:100%;left:0;position:absolute;top:0;}
div.ddblock-cycle-upright30p div.slide-inner img{height:303px;margin:0 !important;padding:0 !important;width:478px;}
div.ddblock-cycle-upright30p div.slide-text{background:transparent url(images/transparent_bg.png) repeat scroll 0 0!important;position:absolute;}
div.ddblock-cycle-upright30p div.slide-text-horizontal{height:85px;left:0;width:478px;}
div.ddblock-cycle-upright30p div.slide-text-vertical{height:303px;width:140px;}
div.ddblock-cycle-upright30p div.slide-text-top{top:7px;}
div.ddblock-cycle-upright30p div.slide-text-right{bottom:0;right:30px;}
div.ddblock-cycle-upright30p div.slide-text-bottom{bottom:7px;}
div.ddblock-cycle-upright30p div.slide-text-left{bottom:0;left:30px;}
div.ddblock-cycle-upright30p div.slide-text-inner{padding:10px;}
div.ddblock-cycle-upright30p div.slide-title{float:left;}
div.ddblock-cycle-upright30p div.slide-title-vertical{width:130px;}
div.ddblock-cycle-upright30p div.slide-title-horizontal{float:left;width:158px;}
div.ddblock-cycle-upright30p div.slide-title h2{color:#fff!important;margin:-5px 0 0 0;padding:0;}
div.ddblock-cycle-upright30p div.slide-title h2 a{color:#fff!important;text-decoration:none;}
div.ddblock-cycle-upright30p div.slide-title-inner{color:white;font-weight:bold;}
div.ddblock-cycle-upright30p div.slide-body-vertical{width:132px;}
div.ddblock-cycle-upright30p div.slide-body-horizontal{float:left;width:290px;}
div.ddblock-cycle-upright30p div.slide-body-inner{color:white;}
div.ddblock-cycle-upright30p div.slide-body-inner p{margin:0 8px 0 0;padding:0;}
div.ddblock-cycle-upright30p div.slide-read-more{width:110px;}
div.ddblock-cycle-upright30p div.slide-read-more p{padding:0;margin:0;}
div.ddblock-cycle-upright30p div.slide-read-more a{background:url(images/readmore.png) no-repeat;border:none;bottom:5px;color:#fff;font-size:14px;font-family:times New Roman;margin:0;padding:4px 0 4px 19px;position:absolute;text-decoration:none;text-align:left;width:100px;}
div.ddblock-cycle-upright30p div.slide-read-more-horizontal a{right:-17px;}
div.ddblock-cycle-upright30p div.slide-read-more-vertical a{right:5px;}
div.ddblock-cycle-upright30p div.slide-read-more a:hover{background:url(images/readmore-hover.png) no-repeat;text-decoration:underline;}
div.ddblock-cycle-upright30p div.slide-read-more-horizontal a:hover{right:-17px;}
div.ddblock-cycle-upright30p div.slide-read-more-vertical a:hover{right:5px;}
div.ddblock-cycle-upright30p div.custom-pager{width:478px;}
div.ddblock-cycle-upright30p div.custom-pager-inner{height:59px;}
div.ddblock-cycle-upright30p div.custom-pager .custom-pager-item{float:left;}
div.ddblock-cycle-upright30p div.custom-pager .custom-pager-item-inner{width:156px;}
div.ddblock-cycle-upright30p div.custom-pager a{background-color:#fff;color:#000;display:block;float:left;font-family:Tahoma,Arial,sans-serif;font-size:.9em;font-weight:bold;height:27px;line-height:27px;text-align:center;text-decoration:none;width:156px;}
div.ddblock-cycle-upright30p div.custom-pager a.activeSlide{background-color:#000;color:#fff;}
div.ddblock-cycle-upright30p div.custom-pager a:hover{background:#111;color:#f00;}
div.ddblock-cycle-upright30p div.custom-pager a:focus{outline:none;}
/********************* previous next pager on slide **********************/
div.ddblock-cycle-upright30p div.pager-slide{
  height: 50px;
  position: absolute;
  top:130px;
  width:50px;
  z-index:50;
}
div.ddblock-cycle-upright30p div.pager-slide a{
  display:block;
  height:50px;
  opacity: 0.7;
  width:50px;
}
div.ddblock-cycle-upright30p div.next-container a.next{
  background: url(images/next.png) no-repeat;
}
div.ddblock-cycle-upright30p div.prev-container a.prev{
  background: url(images/prev.png) no-repeat;
}
div.ddblock-cycle-upright30p div.next-container a.next:hover{
  background: url(images/next.png) no-repeat;
  opacity:1;
}
div.ddblock-cycle-upright30p div.prev-container a.prev:hover{
  background: url(images/prev.png) no-repeat;
  opacity:1;
}
div.ddblock-cycle-upright30p div.pager-slide a:focus{
  outline:none;
} 
/********************* previous next pager on slide **********************/
div.ddblock-cycle-upright30p div.prev-container{left:5px;}
div.ddblock-cycle-upright30p div.next-container{left:425px;}
div.ddblock-cycle-upright30p div.spacer-vertical{display:block;float:left;height:27px;width:5px;background-color:#ccc;}
div.ddblock-cycle-upright30p div.spacer-horizontal{clear:both;height:5px;background-color:#ccc;}