
#image-container{
  display:none;
}
.front h1 { 
  display:none;
}
.not-front #content {
  width:831px;
}


#image-container .views-row {
  float: left;
  display: inline;
  position: relative;
  padding:1px;
  z-index: 1;
}

#image-container .views-row .teaser-wrapper {
  filter: alpha(opacity=70);
  opacity: 0.7;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /*--IE8 Specific--*/  
 
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  z-index: 1;
}

#image-container .views-row .teaser-wrapper .info {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#image-container .views-row:hover .teaser-wrapper .info {display: block;}
#image-container .views-row:hover .teaser-wrapper {
  filter: alpha(opacity=100);
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  
  background: #FFF;
  overflow: hidden;
  border: 1px solid #000000;
}
#image-container .views-row:hover {
  z-index: 99;
  padding: 0px;
}