
.view-protest-frontpage- {
  display:none;
}
.front h1 { 
  display:none;
}
.not-front .demopoly-content {
  width:831px;
}

a.cboxElement {
  display:block;
}
.views-row {
  display: inline;
  position: relative;
  padding:0px;
  z-index: 1;
}

.views-row .teaser-wrapper {
  position: relative;
  z-index: 1;
}

.views-row .teaser-wrapper .info {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.views-row .teaser-wrapper img {
  display: block;
}

.views-row:hover .teaser-wrapper .info {display: none;}
.views-row:hover .teaser-wrapper {
  background: #FFF;
  overflow: hidden;
}
.views-row:hover {
  z-index: 99;
  padding: 0px;
}

.item-list {
  display: none;
}

#infscr-loading {
  display: none;
}
