/** PAGE PROTEST DETAIL **/
.wrap-it-all {
  display: block;
  padding: 0;
  width: 600px;
  height: 650px!important;
  margin: auto;
  overflow: hidden;
  position: absolute;
  top: 0px;
}

.horizontal-rule {
  border:dotted #e4e4e4;
  border-width:1px 0 0 0;
  height:0px;
  line-height:0px;
  font-size:0;
  margin:0px;
  padding:0px;
  clear: both
}

.container-wrapper {
  display: block;
  margin: auto;
  padding: 0;
  width: 600px;
  height: 650px;
}

.container-wrapper .container-image,
.container-wrapper .container-div {
  width: 600px;
  margin: auto;
  text-align: center;
  position: relative;
}

.container-wrapper .container-image {
  height: 430px;
  line-height: 430px;
  display: inline-block;
}

.container-wrapper .container-image .vertical-align,
.container-wrapper .container-image .vertical-align img {
  vertical-align: middle;
}

.container-wrapper .container-text {
  float: left;
  width: 354px;
  text-align: left;
}

.container-wrapper .container-right{
  float: right;
}
.container-wrapper .container-thumbs {
  width: 232px;
  height: 72px;
  display: block;
  overflow: scroll;
}

.container-wrapper .container-thumbs,
.container-wrapper .container-control {
  margin-top: 10px;
}
.container-wrapper .para-download-image,
.container-wrapper .para-report-image {
  padding-left: 20px;
  text-align: left;
  line-height: 23px;
}

.container-wrapper .para-download-image a {color:#76B828;}
.container-wrapper .para-report-image a,
.container-wrapper .para-report-image .flag-flag-protest .flag-link-toggle {
  position: relative;
  top: 3px;
  color:#cd0b0b;
}

.container-wrapper .para-report-image .flag-message {
  position: absolute;
  top: 23px;
  left: -100px;
}

.container-wrapper .container-thumbs .image-wrapper {
  width: 70px;
  height: 50px;
  display: inline-block;
  background-position:50% 50%;
  background-repeat: no-repeat;
  margin: 1px;
  border: 1px solid #d4d4d4;
  opacity: 0.8;
}
.container-wrapper .container-thumbs .image-wrapper.active {
  border: 1px solid blue;
  opacity: 1;
}

.container-wrapper .container-text .para-name-city {
  font-family: 'FuturaStd-Light';
}

.container-wrapper .container-text .para-name-city,
.container-wrapper .container-text .para-date {
  font-size: 10pt;
  text-transform: uppercase;
}

.container-wrapper .container-text .para-context {
  font-size: 10pt;
  height: 120px;
  display: block;
}

.clear {
  clear: both;
}

.container-slide-prev, .container-slide-next {

}
.container-slide-prev {
  float: left;
  height: 50px;
  opacity: 0.7;
  width: 50px;
  z-index: 100;
  text-align: left;
  
  position: absolute;
  top: 200px;
  left: 0px;
}
.container-slide-prev .prev{
  background: url(../../img/ddblock/paging_arrow_back.png) no-repeat;
  display: block;
  height: 0px;
  overflow: hidden;
  padding-top: 20px;
  background-position: 0px 2px;
}

.container-slide-next {
  float: right;
  height: 50px;
  opacity: 0.7;
  width: 50px;
  z-index: 100;
  text-align: right;
  text-indent:-9999px;
  
  position: absolute;
  top: 200px;
  right: 0px;
}
.container-slide-next .next{
  background: url(../../img/ddblock/paging_arrow_next.png) no-repeat;
  display: block;
  height: 0px;
  overflow: hidden;
  padding-top: 20px;
  background-position: 35px 2px;
}
