.countryicon-shiny {
  width: 16px; height: 11px;
  margin: 0; padding: 0;
  position: relative;
}
.countryicon-shiny li {
  margin: 0; padding: 0; list-style: none;
  position: absolute; top: 0; display: block;
  background: url(shiny-sprite.png);
  width: 16px; height: 11px;
}    
.countryicon-shiny li.countryicon-ad-shiny{ background-position: 0 -10px; } 
.countryicon-shiny li.countryicon-ae-shiny{ background-position: 0 -31px; } 
.countryicon-shiny li.countryicon-af-shiny{ background-position: 0 -52px; } 
.countryicon-shiny li.countryicon-ag-shiny{ background-position: 0 -73px; } 
.countryicon-shiny li.countryicon-ai-shiny{ background-position: 0 -94px; } 
.countryicon-shiny li.countryicon-al-shiny{ background-position: 0 -115px; } 
.countryicon-shiny li.countryicon-am-shiny{ background-position: 0 -136px; } 
.countryicon-shiny li.countryicon-an-shiny{ background-position: 0 -157px; } 
.countryicon-shiny li.countryicon-ao-shiny{ background-position: 0 -178px; } 
.countryicon-shiny li.countryicon-ar-shiny{ background-position: 0 -199px; } 
.countryicon-shiny li.countryicon-as-shiny{ background-position: 0 -220px; } 
.countryicon-shiny li.countryicon-at-shiny{ background-position: 0 -241px; } 
.countryicon-shiny li.countryicon-au-shiny{ background-position: 0 -262px; } 
.countryicon-shiny li.countryicon-aw-shiny{ background-position: 0 -283px; } 
.countryicon-shiny li.countryicon-ax-shiny{ background-position: 0 -304px; } 
.countryicon-shiny li.countryicon-az-shiny{ background-position: 0 -325px; } 
.countryicon-shiny li.countryicon-ba-shiny{ background-position: 0 -346px; } 
.countryicon-shiny li.countryicon-bb-shiny{ background-position: 0 -367px; } 
.countryicon-shiny li.countryicon-bd-shiny{ background-position: 0 -388px; } 
.countryicon-shiny li.countryicon-be-shiny{ background-position: 0 -409px; } 
.countryicon-shiny li.countryicon-bf-shiny{ background-position: 0 -430px; } 
.countryicon-shiny li.countryicon-bg-shiny{ background-position: 0 -451px; } 
.countryicon-shiny li.countryicon-bh-shiny{ background-position: 0 -472px; } 
.countryicon-shiny li.countryicon-bi-shiny{ background-position: 0 -493px; } 
.countryicon-shiny li.countryicon-bj-shiny{ background-position: 0 -514px; } 
.countryicon-shiny li.countryicon-bm-shiny{ background-position: 0 -535px; } 
.countryicon-shiny li.countryicon-bn-shiny{ background-position: 0 -556px; } 
.countryicon-shiny li.countryicon-bo-shiny{ background-position: 0 -577px; } 
.countryicon-shiny li.countryicon-br-shiny{ background-position: 0 -598px; } 
.countryicon-shiny li.countryicon-bs-shiny{ background-position: 0 -619px; } 
.countryicon-shiny li.countryicon-bt-shiny{ background-position: 0 -640px; } 
.countryicon-shiny li.countryicon-bv-shiny{ background-position: 0 -661px; } 
.countryicon-shiny li.countryicon-bw-shiny{ background-position: 0 -682px; } 
.countryicon-shiny li.countryicon-by-shiny{ background-position: 0 -703px; } 
.countryicon-shiny li.countryicon-bz-shiny{ background-position: 0 -724px; } 
.countryicon-shiny li.countryicon-ca-shiny{ background-position: 0 -745px; } 
.countryicon-shiny li.countryicon-catalonia-shiny{ background-position: 0 -766px; } 
.countryicon-shiny li.countryicon-cc-shiny{ background-position: 0 -787px; } 
.countryicon-shiny li.countryicon-cd-shiny{ background-position: 0 -808px; } 
.countryicon-shiny li.countryicon-cf-shiny{ background-position: 0 -829px; } 
.countryicon-shiny li.countryicon-cg-shiny{ background-position: 0 -850px; } 
.countryicon-shiny li.countryicon-ch-shiny{ background-position: 0 -871px; } 
.countryicon-shiny li.countryicon-ci-shiny{ background-position: 0 -892px; } 
.countryicon-shiny li.countryicon-ck-shiny{ background-position: 0 -913px; } 
.countryicon-shiny li.countryicon-cl-shiny{ background-position: 0 -934px; } 
.countryicon-shiny li.countryicon-cm-shiny{ background-position: 0 -955px; } 
.countryicon-shiny li.countryicon-cn-shiny{ background-position: 0 -976px; } 
.countryicon-shiny li.countryicon-co-shiny{ background-position: 0 -997px; } 
.countryicon-shiny li.countryicon-cr-shiny{ background-position: 0 -1018px; } 
.countryicon-shiny li.countryicon-cs-shiny{ background-position: 0 -1039px; } 
.countryicon-shiny li.countryicon-cu-shiny{ background-position: 0 -1060px; } 
.countryicon-shiny li.countryicon-cv-shiny{ background-position: 0 -1081px; } 
.countryicon-shiny li.countryicon-cx-shiny{ background-position: 0 -1102px; } 
.countryicon-shiny li.countryicon-cy-shiny{ background-position: 0 -1123px; } 
.countryicon-shiny li.countryicon-cz-shiny{ background-position: 0 -1144px; } 
.countryicon-shiny li.countryicon-de-shiny{ background-position: 0 -1165px; } 
.countryicon-shiny li.countryicon-dj-shiny{ background-position: 0 -1186px; } 
.countryicon-shiny li.countryicon-dk-shiny{ background-position: 0 -1207px; } 
.countryicon-shiny li.countryicon-dm-shiny{ background-position: 0 -1228px; } 
.countryicon-shiny li.countryicon-do-shiny{ background-position: 0 -1249px; } 
.countryicon-shiny li.countryicon-dz-shiny{ background-position: 0 -1270px; } 
.countryicon-shiny li.countryicon-ec-shiny{ background-position: 0 -1291px; } 
.countryicon-shiny li.countryicon-ee-shiny{ background-position: 0 -1312px; } 
.countryicon-shiny li.countryicon-eg-shiny{ background-position: 0 -1333px; } 
.countryicon-shiny li.countryicon-eh-shiny{ background-position: 0 -1354px; } 
.countryicon-shiny li.countryicon-england-shiny{ background-position: 0 -1375px; } 
.countryicon-shiny li.countryicon-er-shiny{ background-position: 0 -1396px; } 
.countryicon-shiny li.countryicon-es-shiny{ background-position: 0 -1417px; } 
.countryicon-shiny li.countryicon-et-shiny{ background-position: 0 -1438px; } 
.countryicon-shiny li.countryicon-europeanunion-shiny{ background-position: 0 -1459px; } 
.countryicon-shiny li.countryicon-fam-shiny{ background-position: 0 -1480px; } 
.countryicon-shiny li.countryicon-fi-shiny{ background-position: 0 -1501px; } 
.countryicon-shiny li.countryicon-fj-shiny{ background-position: 0 -1522px; } 
.countryicon-shiny li.countryicon-fk-shiny{ background-position: 0 -1543px; } 
.countryicon-shiny li.countryicon-fm-shiny{ background-position: 0 -1564px; } 
.countryicon-shiny li.countryicon-fo-shiny{ background-position: 0 -1585px; } 
.countryicon-shiny li.countryicon-fr-shiny{ background-position: 0 -1606px; } 
.countryicon-shiny li.countryicon-ga-shiny{ background-position: 0 -1627px; } 
.countryicon-shiny li.countryicon-gb-shiny{ background-position: 0 -1648px; } 
.countryicon-shiny li.countryicon-gd-shiny{ background-position: 0 -1669px; } 
.countryicon-shiny li.countryicon-ge-shiny{ background-position: 0 -1690px; } 
.countryicon-shiny li.countryicon-gf-shiny{ background-position: 0 -1711px; } 
.countryicon-shiny li.countryicon-gh-shiny{ background-position: 0 -1732px; } 
.countryicon-shiny li.countryicon-gi-shiny{ background-position: 0 -1753px; } 
.countryicon-shiny li.countryicon-gl-shiny{ background-position: 0 -1774px; } 
.countryicon-shiny li.countryicon-gm-shiny{ background-position: 0 -1795px; } 
.countryicon-shiny li.countryicon-gn-shiny{ background-position: 0 -1816px; } 
.countryicon-shiny li.countryicon-gp-shiny{ background-position: 0 -1837px; } 
.countryicon-shiny li.countryicon-gq-shiny{ background-position: 0 -1858px; } 
.countryicon-shiny li.countryicon-gr-shiny{ background-position: 0 -1879px; } 
.countryicon-shiny li.countryicon-gs-shiny{ background-position: 0 -1900px; } 
.countryicon-shiny li.countryicon-gt-shiny{ background-position: 0 -1921px; } 
.countryicon-shiny li.countryicon-gu-shiny{ background-position: 0 -1942px; } 
.countryicon-shiny li.countryicon-gw-shiny{ background-position: 0 -1963px; } 
.countryicon-shiny li.countryicon-gy-shiny{ background-position: 0 -1984px; } 
.countryicon-shiny li.countryicon-hk-shiny{ background-position: -26px -10px; } 
.countryicon-shiny li.countryicon-hm-shiny{ background-position: -26px -31px; } 
.countryicon-shiny li.countryicon-hn-shiny{ background-position: -26px -52px; } 
.countryicon-shiny li.countryicon-hr-shiny{ background-position: -26px -73px; } 
.countryicon-shiny li.countryicon-ht-shiny{ background-position: -26px -94px; } 
.countryicon-shiny li.countryicon-hu-shiny{ background-position: -26px -115px; } 
.countryicon-shiny li.countryicon-id-shiny{ background-position: -26px -136px; } 
.countryicon-shiny li.countryicon-ie-shiny{ background-position: -26px -157px; } 
.countryicon-shiny li.countryicon-il-shiny{ background-position: -26px -178px; } 
.countryicon-shiny li.countryicon-in-shiny{ background-position: -26px -199px; } 
.countryicon-shiny li.countryicon-io-shiny{ background-position: -26px -220px; } 
.countryicon-shiny li.countryicon-iq-shiny{ background-position: -26px -241px; } 
.countryicon-shiny li.countryicon-ir-shiny{ background-position: -26px -262px; } 
.countryicon-shiny li.countryicon-is-shiny{ background-position: -26px -283px; } 
.countryicon-shiny li.countryicon-it-shiny{ background-position: -26px -304px; } 
.countryicon-shiny li.countryicon-jm-shiny{ background-position: -26px -325px; } 
.countryicon-shiny li.countryicon-jo-shiny{ background-position: -26px -346px; } 
.countryicon-shiny li.countryicon-jp-shiny{ background-position: -26px -367px; } 
.countryicon-shiny li.countryicon-ke-shiny{ background-position: -26px -388px; } 
.countryicon-shiny li.countryicon-kg-shiny{ background-position: -26px -409px; } 
.countryicon-shiny li.countryicon-kh-shiny{ background-position: -26px -430px; } 
.countryicon-shiny li.countryicon-ki-shiny{ background-position: -26px -451px; } 
.countryicon-shiny li.countryicon-km-shiny{ background-position: -26px -472px; } 
.countryicon-shiny li.countryicon-kn-shiny{ background-position: -26px -493px; } 
.countryicon-shiny li.countryicon-kp-shiny{ background-position: -26px -514px; } 
.countryicon-shiny li.countryicon-kr-shiny{ background-position: -26px -535px; } 
.countryicon-shiny li.countryicon-kw-shiny{ background-position: -26px -556px; } 
.countryicon-shiny li.countryicon-ky-shiny{ background-position: -26px -577px; } 
.countryicon-shiny li.countryicon-kz-shiny{ background-position: -26px -598px; } 
.countryicon-shiny li.countryicon-la-shiny{ background-position: -26px -619px; } 
.countryicon-shiny li.countryicon-lb-shiny{ background-position: -26px -640px; } 
.countryicon-shiny li.countryicon-lc-shiny{ background-position: -26px -661px; } 
.countryicon-shiny li.countryicon-li-shiny{ background-position: -26px -682px; } 
.countryicon-shiny li.countryicon-lk-shiny{ background-position: -26px -703px; } 
.countryicon-shiny li.countryicon-lr-shiny{ background-position: -26px -724px; } 
.countryicon-shiny li.countryicon-ls-shiny{ background-position: -26px -745px; } 
.countryicon-shiny li.countryicon-lt-shiny{ background-position: -26px -766px; } 
.countryicon-shiny li.countryicon-lu-shiny{ background-position: -26px -787px; } 
.countryicon-shiny li.countryicon-lv-shiny{ background-position: -26px -808px; } 
.countryicon-shiny li.countryicon-ly-shiny{ background-position: -26px -829px; } 
.countryicon-shiny li.countryicon-ma-shiny{ background-position: -26px -850px; } 
.countryicon-shiny li.countryicon-mc-shiny{ background-position: -26px -871px; } 
.countryicon-shiny li.countryicon-md-shiny{ background-position: -26px -892px; } 
.countryicon-shiny li.countryicon-me-shiny{ background-position: -26px -913px; } 
.countryicon-shiny li.countryicon-mg-shiny{ background-position: -26px -935px; } 
.countryicon-shiny li.countryicon-mh-shiny{ background-position: -26px -956px; } 
.countryicon-shiny li.countryicon-mk-shiny{ background-position: -26px -977px; } 
.countryicon-shiny li.countryicon-ml-shiny{ background-position: -26px -998px; } 
.countryicon-shiny li.countryicon-mm-shiny{ background-position: -26px -1019px; } 
.countryicon-shiny li.countryicon-mn-shiny{ background-position: -26px -1040px; } 
.countryicon-shiny li.countryicon-mo-shiny{ background-position: -26px -1061px; } 
.countryicon-shiny li.countryicon-mp-shiny{ background-position: -26px -1082px; } 
.countryicon-shiny li.countryicon-mq-shiny{ background-position: -26px -1103px; } 
.countryicon-shiny li.countryicon-mr-shiny{ background-position: -26px -1124px; } 
.countryicon-shiny li.countryicon-ms-shiny{ background-position: -26px -1145px; } 
.countryicon-shiny li.countryicon-mt-shiny{ background-position: -26px -1166px; } 
.countryicon-shiny li.countryicon-mu-shiny{ background-position: -26px -1187px; } 
.countryicon-shiny li.countryicon-mv-shiny{ background-position: -26px -1208px; } 
.countryicon-shiny li.countryicon-mw-shiny{ background-position: -26px -1229px; } 
.countryicon-shiny li.countryicon-mx-shiny{ background-position: -26px -1250px; } 
.countryicon-shiny li.countryicon-my-shiny{ background-position: -26px -1271px; } 
.countryicon-shiny li.countryicon-mz-shiny{ background-position: -26px -1292px; } 
.countryicon-shiny li.countryicon-na-shiny{ background-position: -26px -1313px; } 
.countryicon-shiny li.countryicon-nc-shiny{ background-position: -26px -1334px; } 
.countryicon-shiny li.countryicon-ne-shiny{ background-position: -26px -1355px; } 
.countryicon-shiny li.countryicon-nf-shiny{ background-position: -26px -1376px; } 
.countryicon-shiny li.countryicon-ng-shiny{ background-position: -26px -1397px; } 
.countryicon-shiny li.countryicon-ni-shiny{ background-position: -26px -1418px; } 
.countryicon-shiny li.countryicon-nl-shiny{ background-position: -26px -1439px; } 
.countryicon-shiny li.countryicon-no-shiny{ background-position: -26px -1460px; } 
.countryicon-shiny li.countryicon-np-shiny{ background-position: -26px -1481px; } 
.countryicon-shiny li.countryicon-nr-shiny{ background-position: -26px -1502px; } 
.countryicon-shiny li.countryicon-nu-shiny{ background-position: -26px -1523px; } 
.countryicon-shiny li.countryicon-nz-shiny{ background-position: -26px -1544px; } 
.countryicon-shiny li.countryicon-om-shiny{ background-position: -26px -1565px; } 
.countryicon-shiny li.countryicon-pa-shiny{ background-position: -26px -1586px; } 
.countryicon-shiny li.countryicon-pe-shiny{ background-position: -26px -1607px; } 
.countryicon-shiny li.countryicon-pf-shiny{ background-position: -26px -1628px; } 
.countryicon-shiny li.countryicon-pg-shiny{ background-position: -26px -1649px; } 
.countryicon-shiny li.countryicon-ph-shiny{ background-position: -26px -1670px; } 
.countryicon-shiny li.countryicon-pk-shiny{ background-position: -26px -1691px; } 
.countryicon-shiny li.countryicon-pl-shiny{ background-position: -26px -1712px; } 
.countryicon-shiny li.countryicon-pm-shiny{ background-position: -26px -1733px; } 
.countryicon-shiny li.countryicon-pn-shiny{ background-position: -26px -1754px; } 
.countryicon-shiny li.countryicon-pr-shiny{ background-position: -26px -1775px; } 
.countryicon-shiny li.countryicon-ps-shiny{ background-position: -26px -1796px; } 
.countryicon-shiny li.countryicon-pt-shiny{ background-position: -26px -1817px; } 
.countryicon-shiny li.countryicon-pw-shiny{ background-position: -26px -1838px; } 
.countryicon-shiny li.countryicon-py-shiny{ background-position: -26px -1859px; } 
.countryicon-shiny li.countryicon-qa-shiny{ background-position: -26px -1880px; } 
.countryicon-shiny li.countryicon-re-shiny{ background-position: -26px -1901px; } 
.countryicon-shiny li.countryicon-ro-shiny{ background-position: -26px -1922px; } 
.countryicon-shiny li.countryicon-rs-shiny{ background-position: -26px -1943px; } 
.countryicon-shiny li.countryicon-ru-shiny{ background-position: -26px -1964px; } 
.countryicon-shiny li.countryicon-rw-shiny{ background-position: -26px -1985px; } 
.countryicon-shiny li.countryicon-sa-shiny{ background-position: -52px -10px; } 
.countryicon-shiny li.countryicon-sb-shiny{ background-position: -52px -31px; } 
.countryicon-shiny li.countryicon-sc-shiny{ background-position: -52px -52px; } 
.countryicon-shiny li.countryicon-scotland-shiny{ background-position: -52px -73px; } 
.countryicon-shiny li.countryicon-sd-shiny{ background-position: -52px -94px; } 
.countryicon-shiny li.countryicon-se-shiny{ background-position: -52px -115px; } 
.countryicon-shiny li.countryicon-sg-shiny{ background-position: -52px -136px; } 
.countryicon-shiny li.countryicon-sh-shiny{ background-position: -52px -157px; } 
.countryicon-shiny li.countryicon-si-shiny{ background-position: -52px -178px; } 
.countryicon-shiny li.countryicon-sj-shiny{ background-position: -52px -199px; } 
.countryicon-shiny li.countryicon-sk-shiny{ background-position: -52px -220px; } 
.countryicon-shiny li.countryicon-sl-shiny{ background-position: -52px -241px; } 
.countryicon-shiny li.countryicon-sm-shiny{ background-position: -52px -262px; } 
.countryicon-shiny li.countryicon-sn-shiny{ background-position: -52px -283px; } 
.countryicon-shiny li.countryicon-so-shiny{ background-position: -52px -304px; } 
.countryicon-shiny li.countryicon-sr-shiny{ background-position: -52px -325px; } 
.countryicon-shiny li.countryicon-st-shiny{ background-position: -52px -346px; } 
.countryicon-shiny li.countryicon-sv-shiny{ background-position: -52px -367px; } 
.countryicon-shiny li.countryicon-sy-shiny{ background-position: -52px -388px; } 
.countryicon-shiny li.countryicon-sz-shiny{ background-position: -52px -409px; } 
.countryicon-shiny li.countryicon-tc-shiny{ background-position: -52px -430px; } 
.countryicon-shiny li.countryicon-td-shiny{ background-position: -52px -451px; } 
.countryicon-shiny li.countryicon-tf-shiny{ background-position: -52px -472px; } 
.countryicon-shiny li.countryicon-tg-shiny{ background-position: -52px -493px; } 
.countryicon-shiny li.countryicon-th-shiny{ background-position: -52px -514px; } 
.countryicon-shiny li.countryicon-tj-shiny{ background-position: -52px -535px; } 
.countryicon-shiny li.countryicon-tk-shiny{ background-position: -52px -556px; } 
.countryicon-shiny li.countryicon-tl-shiny{ background-position: -52px -577px; } 
.countryicon-shiny li.countryicon-tm-shiny{ background-position: -52px -598px; } 
.countryicon-shiny li.countryicon-tn-shiny{ background-position: -52px -619px; } 
.countryicon-shiny li.countryicon-to-shiny{ background-position: -52px -640px; } 
.countryicon-shiny li.countryicon-tr-shiny{ background-position: -52px -661px; } 
.countryicon-shiny li.countryicon-tt-shiny{ background-position: -52px -682px; } 
.countryicon-shiny li.countryicon-tv-shiny{ background-position: -52px -703px; } 
.countryicon-shiny li.countryicon-tw-shiny{ background-position: -52px -724px; } 
.countryicon-shiny li.countryicon-tz-shiny{ background-position: -52px -745px; } 
.countryicon-shiny li.countryicon-ua-shiny{ background-position: -52px -766px; } 
.countryicon-shiny li.countryicon-ug-shiny{ background-position: -52px -787px; } 
.countryicon-shiny li.countryicon-um-shiny{ background-position: -52px -808px; } 
.countryicon-shiny li.countryicon-us-shiny{ background-position: -52px -829px; } 
.countryicon-shiny li.countryicon-uy-shiny{ background-position: -52px -850px; } 
.countryicon-shiny li.countryicon-uz-shiny{ background-position: -52px -871px; } 
.countryicon-shiny li.countryicon-va-shiny{ background-position: -52px -892px; } 
.countryicon-shiny li.countryicon-vc-shiny{ background-position: -52px -913px; } 
.countryicon-shiny li.countryicon-ve-shiny{ background-position: -52px -934px; } 
.countryicon-shiny li.countryicon-vg-shiny{ background-position: -52px -955px; } 
.countryicon-shiny li.countryicon-vi-shiny{ background-position: -52px -976px; } 
.countryicon-shiny li.countryicon-vn-shiny{ background-position: -52px -997px; } 
.countryicon-shiny li.countryicon-vu-shiny{ background-position: -52px -1018px; } 
.countryicon-shiny li.countryicon-wales-shiny{ background-position: -52px -1039px; } 
.countryicon-shiny li.countryicon-wf-shiny{ background-position: -52px -1060px; } 
.countryicon-shiny li.countryicon-ws-shiny{ background-position: -52px -1081px; } 
.countryicon-shiny li.countryicon-ye-shiny{ background-position: -52px -1102px; } 
.countryicon-shiny li.countryicon-yt-shiny{ background-position: -52px -1123px; } 
.countryicon-shiny li.countryicon-za-shiny{ background-position: -52px -1144px; } 
.countryicon-shiny li.countryicon-zm-shiny{ background-position: -52px -1165px; } 
.countryicon-shiny li.countryicon-zw-shiny{ background-position: -52px -1186px; } 
