/*
 * Layout Full *
 * +Wrapper
 * +Logo
 * +Claim
 * +Navigation Right
 * +Sub Navigation Left
 * +Content
 */


/* WRAPPER */
.wrapper {
  margin: 60px 30px 40px 40px;
  padding: 0;
  position: relative;
  width: 97%;
}

/* LOGO */
.header .logo {
  float: left;
}

.header {
  display: block;
  width: 100%;
}

/* CLAIM */
.header .claim {
  float: right;
  margin: 45px 10px 0 0;
  font-size: 1.5em;
  font-weight: 700;
}


/* NAVIGATION - RIGHT */
.header .navigation {
  float: right;
  font-family: 'FuturaStd-Book';
}
.header .navigation ul {
  float: right;
}
.header .navigation ul li {
  display: inline;
}
.header .navigation ul li a {
  color: #000;
  text-transform:uppercase;
  text-decoration: none;
  margin: 0 10px 0 0;
}

/* SUB NAVIGATION - LEFT */
.header .subnavigation {
  clear: both;
  margin: 30px 0 0 0;
  float: left;
}
.header .subnavigation ul {
  
}
.header .subnavigation ul li {
  display: inline-block;
}

/* CONTENT */
.demopoly-heading {
  display: none;
}

.demopoly-content {
  clear: both;
  float: left;
  width: 95%;
  margin: 0px 0px 0px 0px;
}